@using Umbraco.Commerce.Portal.Extensions
@using Umbraco.Commerce.Portal.Models
@inject IUmbracoCommerceApi CommerceApi
@inherits UmbracoViewPage

@{
    Layout = "UmbracoCommercePortalManagementLayout.cshtml";

    Context.Request.Query.TryGetValue("orderId", out var orderId);

    var store = Model.GetStore();
    var portalContainerPage = Model.GetPortalContainerPage();

    var order = await CommerceApi.GetOrderAsync(Guid.Parse(orderId!));
    var orderStatus = await CommerceApi.GetOrderStatusAsync(order.OrderStatusId);
    var paymentMethod = await CommerceApi.GetPaymentMethodAsync(order.PaymentInfo.PaymentMethodId!.Value);
    var orderPropertyConfig = await CommerceApi.GetOrderPropertyConfigAsync(store.Alias);

    CustomerModel customerModel = order.GetCustomerModel(orderPropertyConfig);
    AddressModel billingAddressModel = order.GetBillingAddressModel(orderPropertyConfig);
    var orderBillingAddress = await order.GetBillingAddressAsync(orderPropertyConfig);
    billingAddressModel.Country = (await CommerceApi.GetCountryAsync(store.Id, orderBillingAddress.CountryIsoCode)).Name;
    AddressModel shippingAddressModel = order.GetShippingAddressModel(orderPropertyConfig);
    var orderShippingAddress = await order.GetShippingAddressAsync(orderPropertyConfig);
    shippingAddressModel.Country = (await CommerceApi.GetCountryAsync(store.Id, orderBillingAddress.CountryIsoCode)).Name;

    bool canCollectBillingInfo = portalContainerPage.Value<bool>("ucpCollectBillingInfo");
    bool canCollectShippingInfo = portalContainerPage.Value<bool>("ucpCollectShippingInfo");
}

<div class="order-details">

    @await Html.PartialAsync($"{UmbracoCommercePortalConstants.UmbracoCommercePortalViewPath}/Partials/UmbracoCommercePortalOrderDetailsBack.cshtml")

    @await Html.PartialAsync($"{UmbracoCommercePortalConstants.UmbracoCommercePortalViewPath}/Partials/UmbracoCommercePortalOrderDetailsHeader.cshtml", order)

    <div class="order-details__sections">
        <div class="order-details__section">
            <div class="order-details__section-title">Order Info</div>
            <div class="order-details__field-row">
                <div class="order-details__field">
                    <span class="order-details__field-label">Order Date</span>
                    <div class="order-details__field-value">@order.FinalizedDate?.ToString("MMM, d yyyy")</div>
                </div>
                <div class="order-details__field">
                    <span class="order-details__field-label">Delivery Date</span>
                    <div class="order-details__field-value"></div>
                </div>
            </div>
            <div class="order-details__field-row">
                <div class="order-details__field">
                    <span class="order-details__field-label">Status</span>
                    <div class="order-details__field-value">@orderStatus.Name</div>
                </div>
                <div class="order-details__field">
                    <span class="order-details__field-label">Payment Status</span>
                    <div class="order-details__field-value">@order.TransactionInfo.PaymentStatus</div>
                </div>
            </div>
            <div class="order-details__field">
                <span class="order-details__field-label">Payment Method</span>
                <div class="order-details__field-value">@paymentMethod.Name</div>
            </div>
        </div>

        <div class="order-details__section order-details__section--editable">
            <div class="order-details__section-title">
                Customer
            </div>
            <div id="customer-view">
                <div class="order-details__field">
                    <span class="order-details__field-label">Name :</span>
                    <div class="order-details__field-value">@($"{customerModel.FirstName} {customerModel.LastName}") </div>
                </div>
                <div class="order-details__field">
                    <span class="order-details__field-label">Email :</span>
                    <div class="order-details__field-value">@customerModel.Email</div>
                </div>
                <div class="order-details__field">
                    <span class="order-details__field-label">Phone number :</span>
                    <div class="order-details__field-value">@customerModel.Telephone</div>
                </div>
            </div>
        </div>

        <div class="order-details__section order-details__section--editable">
            <div class="order-details__section-title">
                Address
            </div>
            <div id="address-view">
                @if (canCollectBillingInfo)
                {
                    <div class="order-details__field">
                        <span class="order-details__field-label">Billing Address :</span>
                        <div class="order-details__field-value">
                            @billingAddressModel.AddressLine1 @billingAddressModel.AddressLine2, @billingAddressModel.City @billingAddressModel.ZipCode @billingAddressModel.Country
                        </div>
                    </div>
                }
                @if (canCollectShippingInfo)
                {
                    <div class="order-details__field">
                        <span class="order-details__field-label">Shipping Address :</span>
                        <div class="order-details__field-value">
                            @shippingAddressModel.AddressLine1 @shippingAddressModel.AddressLine2, @shippingAddressModel.City @shippingAddressModel.ZipCode @shippingAddressModel.Country
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="order-details__products">
        @foreach (var orderLine in order.OrderLines)
        {
            var product = Umbraco.Content(Guid.Parse(orderLine.ProductReference));
            if (product != null)
            {
                var image = product.Value<IPublishedContent>("image");

                <div class="order-details__product">
                    <div class="order-details__product-image" style="display: flex; justify-content: center; color: white; border-radius: 8px; overflow: hidden;">
                        @if (image != null)
                        {
                            <img src="@image.GetCropUrl(120, 120)" alt="@image.Name()" class="img-fluid" />
                        }
                    </div>
                    <div class="order-details__product-info">
                        <div class="order-details__product-name">@product.Name()</div>
                        <div class="order-details__product-quantity">Quantity: @orderLine.Quantity</div>
                    </div>
                    <div class="order-details__product-price">@(await orderLine.UnitPrice.Value.FormattedAsync())</div>
                </div>
            }
        }
    </div>

    <div class="order-details__summary">
        <div class="order-details__summary-row">
            <span class="order-details__summary-label">Subtotal</span>
            <span class="order-details__summary-value">@(await order.SubtotalPrice.Value.FormattedAsync())</span>
        </div>
        @{
            var subtotalFeesAdjustment = order.SubtotalPrice.Adjustments.Where(adj => adj.Price.WithTax > 0).Sum(order.CurrencyId);
            if (subtotalFeesAdjustment > 0)
            {
                <div class="order-details__summary-row">
                    <span class="order-details__summary-label">Subtotal Fees</span>
                    <span class="order-details__summary-value">@await subtotalFeesAdjustment.FormattedAsync(x => x.WithoutTax)</span>
                </div>
            }

            var subtotalDiscountAdjustment = order.SubtotalPrice.Adjustments.Where(adj => adj.Price.WithTax < 0).Sum(order.CurrencyId);
            if (subtotalDiscountAdjustment < 0)
            {
                <div class="order-details__summary-row">
                    <span class="order-details__summary-label">Subtotal Discount</span>
                    <span class="order-details__summary-value">@await subtotalDiscountAdjustment.FormattedAsync(x => x.WithoutTax)</span>
                </div>
            }
        }
        <div class="order-details__summary-row">
            <span class="order-details__summary-label">Taxes</span>
            <span class="order-details__summary-value">@(await order.TotalPrice.Value.FormattedAsync(x => x.Tax))</span>
        </div>
        @{
            var totalFeesAdjustment = order.TotalPrice.Adjustments.Where(x => x.Price.WithTax > 0).Sum(order.CurrencyId);
            if (totalFeesAdjustment > 0)
            {
                <div class="order-details__summary-row">
                    <span class="order-details__summary-label">Net Total Fees</span>
                    <span class="order-details__summary-value">@(await totalFeesAdjustment.FormattedAsync(x => x.WithoutTax))</span>
                </div>
            }

            var totalDiscountAdjustment = order.TotalPrice.Adjustments.Where(x => x.Price.WithTax < 0).Sum(order.CurrencyId);
            if (totalDiscountAdjustment > 0)
            {
                <div class="order-details__summary-row">
                    <span class="order-details__summary-label">Net Total Discount</span>
                    <span class="order-details__summary-value">@(await totalDiscountAdjustment.FormattedAsync(x => x.WithoutTax))</span>
                </div>
            }
        }
        <div class="order-details__summary-row order-details__summary-row--total">
            <span class="order-details__summary-label">Total</span>
            <span class="order-details__summary-value">@(await order.TotalPrice.Value.FormattedAsync())</span>
        </div>
    </div>
</div>
