@using Umbraco.Commerce.Portal.Extensions;
@using Umbraco.Commerce.Portal.Models;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@inherits UmbracoViewPage
@{
    Layout = "UmbracoCommercePortalAuthLayout.cshtml";

    var loginPage = Model.GetLoginPage();

    var resetPasswordModel = new ResetPasswordModel();

    var updatePasswordModel = new UpdatePasswordModel();
    var key = HttpContextAccessor?.HttpContext?.Request.Query["key"].ToString();
    if (!string.IsNullOrEmpty(key))
    {
        updatePasswordModel.MemberId = Guid.Parse(key);
    }
}

<h2 class="auth__title">Reset your password</h2>

@if (!string.IsNullOrEmpty(key))
{
    <p class="auth__description">
        Enter your new password
    </p>

    @using (Html.BeginUmbracoForm("UpdatePassword", "UmbracoCommercePortalSurface", FormMethod.Post, new { @class = "auth__form" }))
    {
        <input type="hidden" asp-for="@updatePasswordModel.MemberId" />

        <div class="auth__field">
            <label class="auth__label" asp-for="@updatePasswordModel.Password">Password</label>
            <input class="auth__input" asp-for="@updatePasswordModel.Password" type="password" />
        </div>

        <div class="auth__field">
            <div class="auth__error">
                @Html.ValidationSummary()
            </div>
        </div>

        @if (TempData["UpdatePasswordSuccess"] != null)
        {
            <text>
                <p class="auth__signin">
                    <a class="auth__link" href="@(loginPage != null ? loginPage.Url() : "#")">Log in</a>
                </p>
            </text>
            @await Html.PartialAsync(
                $"{UmbracoCommercePortalConstants.UmbracoCommercePortalViewPath}/Partials/UmbracoCommercePortalToast.cshtml",
                new ToastModel("success", TempData["UpdatePasswordSuccess"].ToString()))
        }
        else
        {
            <button class="auth__button" type="submit">Update Password</button>
        }
    }
}
else
{
    <p class="auth__description">
        Enter your email address and we’ll send you a link to reset your password
    </p>

    @using (Html.BeginUmbracoForm("ResetPassword", "UmbracoCommercePortalSurface", FormMethod.Post, new { @class = "auth__form" }))
    {
        <div class="auth__field">
            <label class="auth__label" asp-for="@resetPasswordModel.Email">Email address</label>
            <input class="auth__input" asp-for="@resetPasswordModel.Email" />
        </div>

        <div class="auth__field">
            <div class="auth__error">
                @Html.ValidationSummary()
            </div>
        </div>

        <button class="auth__button" type="submit">Reset Password</button>

        @if (TempData["Success"] != null)
        {
            @await Html.PartialAsync($"{UmbracoCommercePortalConstants.UmbracoCommercePortalViewPath}/Partials/UmbracoCommercePortalToast.cshtml", new ToastModel("success", TempData["Success"].ToString()))
        }
    }
}

@await Html.PartialAsync($"{UmbracoCommercePortalConstants.UmbracoCommercePortalViewPath}/Partials/UmbracoCommercePortalSignUp.cshtml")
